[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-cors = "==3.0.10"
python-dotenv = "==0.20.0"
flask-sqlalchemy = "==3.0.3"
validators = "==0.20.0"
flask-jwt-extended = "==4.2.2"
flasgger = "==0.9.5"
requests = "==2.31.0"
mysql-connector-python = "==8.0.29"
flask-migrate = "==3.1.0"
xmltodict = "==0.13.0"
secure = "==0.3.0"
loguru = "==0.6.0"
sqlalchemy-serializer = "*"
gunicorn = "==20.1.0"
black = "~=23.1.0"
gevent = "*"
werkzeug = "==2.2.2"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-socket = "*"
pytest-sugar = "*"

[dev-packages]

[requires]
python_version = "3.11"
