{% extends "base.html.jinja" %} {% block topcontainer %}
<h1>Politique de Confidentialité - Onisep Explorer</h1>

<p>Nous nous engageons à protéger la vie privée de nos utilisateurs. Cette politique de confidentialité explique comment
    nous collectons, utilisons et protégeons vos informations.</p>

<h2>Informations Collectées :</h2>

<ul>
    <li><strong>Adresse E-mail :</strong> Nous collectons votre adresse e-mail uniquement à des fins d'authentification.
        Aucune donnée n'est partagée avec des tiers.</li>
    <li><strong>Nom d'Utilisateur :</strong> Le nom d'utilisateur est collecté uniquement pour identifier l'utilisateur
        et n'est pas partagé avec des tiers.</li>
    <li><strong>Localisation :</strong> La localisation est utilisée pour trouver des établissements scolaires. Les
        données de localisation ne sont pas enregistrées.</li>
</ul>

<h2>Nos Services :</h2>

<p>Onisep Explorer offre une expérience unique pour explorer et sauvegarder facilement les informations sur les
    formations de l'Onisep. Découvrez nos fonctionnalités clés :</p>

<ul>
    <li><strong>Exploration des Données Onisep :</strong> Trouvez des informations détaillées sur diverses formations et
        cursus de manière rapide et efficace.</li>

    <li><strong>Gestion de Favoris :</strong> Créez une liste personnalisée de vos formations favorites pour un accès
        facile. Gardez un suivi pratique de vos choix.</li>
</ul>


<h2>Contact Développeurs :</h2>
<p>Vous pouvez nous contacter à l'adresse e-mail suivante : <a
        href="mailto:angel.dijoux@yahoo.com">angel.dijoux@yahoo.com</a></p>

<h2>Origine des Données :</h2>
<p>Les données sur les établissements scolaires proviennent de l'Onisep. Consultez le site de l'Onisep pour plus
    d'informations : <a href="https://www.onisep.fr/">Onisep</a>.</p>

<h2>Politique de Confidentialité :</h2>

<p>Nous collectons votre adresse e-mail lors de la création du compte uniquement pour le système d'authentification.
    Aucune donnée n'est partagée avec des tiers, et la localisation est utilisée uniquement pour trouver des
    établissements scolaires sans être enregistrée.</p>

<p>Le nom d'utilisateur est recueilli uniquement pour identifier l'utilisateur et n'est pas partagé avec des tiers.</p>

<p>Vous pouvez à tout moment supprimer votre compte et vos données sur l’application ou en nous contactant ici : <a
        href="mailto:angel.dijoux@yahoo.com">angel.dijoux@yahoo.com</a>.</p>

</p>

<h2>Permissions Demandées par l'Application :</h2>

<p><strong>Localisation :</strong> Nous demandons l'autorisation d'accéder à votre localisation pour permettre la
    recherche d'établissements scolaires.</p>

{%endblock%}